<p style="color: green"><%= notice %></p>

<h1>Kittens</h1>

<div id="kittens">
  <% @kittens.each do |kitten| %>
    <%= render kitten %>
    <p>
      <%= link_to "Show this kitten", kitten %> |
      <%= link_to "Delete this kitten", kitten, data: { turbo_method: "delete", turbo_confirm: "Are you sure?" } %>
    </p>
  <% end %>
</div>

<%= link_to "New kitten", new_kitten_path %>
